{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>
        PRM Web app
    </h2>
    <p>
        This app is use for:
    </p>
    <ul>
        <li>ETL Database</li>
        <li>Scrapping prices from Abay.vn</li>
        <li>Query data using GUI</li>
    </ul>

    <hr class="my-4">
    <a class="btn btn-primary" href="/ETL_Data" role="button">ETL Data</a>
    <a class="btn btn-primary" href="#" role="button">Scrapping Abay</a>
    <a class="btn btn-primary" href="#" role="button">Querying</a>


</div>

{% endblock %}